body {
    font-family: "Times New Roman", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

h3.none-spacing{
    letter-spacing: 0px;
}


h5.none-spacing{
    letter-spacing: 0px;
}

ul.none-bullets {
    list-style-type: none;
}

.se_mvp_element {
    padding: 10px 10px 20px 10px;
    margin: 15px 15px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}